@import url('https://fonts.googleapis.com/css2?family=Poppins:wght500display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --dark-blue: #0A1D3C;
    --light-gray: #E5E5E5;
    --white: #FFF;
    --light-peach: #f3d197;
    --dark-gray: #3E3F43;
    --light-black: #1D1D1D;
}
html{
    scroll-behavior: smooth;
}

/* SECTION ONE */
.section{
    min-height: 10vh;
    width: 100%;
}
nav{
    width: 80%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
header{
    width: 80%;
    height: calc(100vh - 70vh);
    display: flex;
    color: #eeab38;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}
.navlinks{
    display: flex;
}
.logo{
    font-size: 3.3rem;
    color: var(--dark-blue);
    font-family: 'Allison', cursive;
}
.navlinks li{
    list-style: none;
}
.navlinks li a{
    text-decoration: none;
    margin-left: 2.5rem;
    color: var(--dark-gray);
    font-size: 1rem;
    letter-spacing: .03rem;
    position: relative;
}
.header-heading{
    font-size: 5rem;
    position: relative;
}
.header-heading::before{
    position: absolute;
    top: -80px;
    color: var(--dark-blue);
    font-family: 'Allison', cursive;
    font-size: 5rem;
}
.product-name{
    font-size: 1.7rem;
}

.navlinks li a::after, .navlinks li .active::after{
    content: "";
    background: var(--dark-gray);
    position: absolute;
    height: .15rem;
    width: 100%;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform .5s ease;
    transform-origin: right;
}
.navlinks li a:hover:after, .navlinks li .active::after{
    transform: scaleX(1);
    transform-origin: left;
}
.line{
    background: var(--dark-gray);
    width: 2.5rem;
    height: .2rem;
    margin: .3rem;
}
.hamburger{
    cursor: pointer;
    display: none;
}

 /* ---Section-Three--- */

 .section-heading{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 4rem;
 }
 .card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
 }
 .card-image{
    width: 20rem;
 }
.card{
    background: var(--light-gray);
    padding: 2rem;
}
.card-pricing{
    font-size: 1.2rem;
    margin-top: .2rem;
    margin-bottom: 1.2rem;
}
.secondary-btn{
    font-size: 1.1rem;
    border: none;
    padding: 1rem 1.7rem;
    transition: transform .5s ease-in-out;
}
.secondary-btn{
    background: var(--dark-blue);
    color: var(--white);
    transform: scale(1.1);
}
.secondary-btn:hover{
    transform: scale(1);
}

 
/* ---Footer--- */

footer{
    background: var(--light-black);
    height: 20vh;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-txt{
    color: white;
    font-size: 1.5rem;
}



/* ---Media Queries--- */

@media screen and (max-width: 600px){

    /* ---section-one--- */
   
    .navlinks{
        flex-direction: column;
        position: absolute;
        top: 0;
        background: var(--light-gray);
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        right: 100%;
        z-index: 2;
        gap: 2rem;
        transition: .5s ease-in-out;
    }
    .navlinks li a{
        font-size: 1.3rem;
        margin-left: 0;
    }
    .navlinks-active{
        right: 0;
    }
    .hamburger{
        display: block;
        z-index: 5;
    }
    .section .logo{
        z-index: 5;
    }
    .header-heading{
        font-size: 2rem;
    }
    .product-name{
        font-size: 2rem;
    }

    /* ---section-three--- */

    .card-image{
        width: 17rem;
    }
    .secondary-btn{
        font-size: 1rem;
        border: none;
        padding: 5px 5px;
        transition: transform .5s ease-in-out;
    }

}
